.Forms-line {
    border: 0;
    height: 0.15rem;
    background: linear-gradient(90deg,transparent 0,#d8d8d8 5%,#61dafb 95%,transparent);
    max-width: 1200px;
    margin: 0 auto;
}
.Forms-title {
    text-transform: uppercase;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.5rem;
    text-align: center;
}
