.SearchBar-section {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    padding: 0 2rem;
    margin: 0 auto;
    text-align: center;
}

.SearchBar-line {
    border: 0;
    height: 0.15rem;
    background: linear-gradient(90deg,transparent 0,#d8d8d8 5%,#61dafb 95%,transparent);
    margin: 0 0 1rem;
}

.SearchBar-content__container {
    margin-bottom: 1.5rem;
}
.SearchBar-field {
    display: flex;
    justify-content: center;
    border: 0.2rem solid #61dafb;
    width: 100%;
    max-width: 25rem;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    border-radius: 0.875rem;
    height: 2rem;
}
.SearchBar-title {
    color: #61dafb;
    margin-top: 0;
}

.SearchBar-search {
    width: 100%;
    height: 2rem;
    padding: 0 1rem;
    border: none;
    border-radius: 0.875rem;
    outline: none;
    font-size: 1.1rem;
    color: #389cb7;
}
.SearchBar-search__label {
    width: 100%;
}
.SearchBar-submit {
    margin: 2rem 0 1rem;
    cursor: pointer;
    background-color: #61dafb;
    border-radius: 0.6rem;
    padding: 0.6rem;
    color: #fff;
    border: none;
    font-size: 1.3rem;
    width: 9rem;
}
.SearchBar-submit:hover,
.SearchBar-submit__select:hover {
    color: #800038;
    background-color: bisque;
    transition: 0.2s;
}

.SearchBar-sort__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #3677ab;
    border: 0.1rem solid;
    border-radius: 2rem;
    max-width: 80%;
    position: relative;
    justify-content: center;
    margin: 0 auto;
}
.SearchBar-sort {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1rem 0;
}
.SearchBar-search__label {
    font-size: 1.5rem;
}
.SearchBar-select {
    width: 10rem;
    font-size: 1.3rem;
    padding: 0.5rem;
    border: 0.1rem solid #389cb7;
    border-radius: 1rem;
    outline: none;
    cursor: pointer;
    color: #389cb7;
}
.SearchBar-select:hover {
    background: whitesmoke;
    transition: 0.2s;
}
.SearchBar-submit__select {
    cursor: pointer;
    background-color: #61dafb;
    border-radius: 0.6rem;
    padding: 0.6rem;
    color: #fff;
    border: none;
    font-size: 1.2rem;
    width: 7rem;
    margin: 0 auto;
}

.SearchBar-results {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    text-align: center;
}
.SearchBar-warning {
    font-size: 2rem;
    color: #48412d;
    margin: 0 auto;
}

.SearchBar-loader {
    width: 3.5rem;
    height: 3.5rem;
    border: 0.2rem solid #a97862;
    border-top: 0.25rem solid #bd5341;
    border-radius: 100%;
    animation: spin 1s infinite linear;
}
.SearchBar-error {
    font-size: 2rem;
}

@keyframes spin {
    from{
        transform: rotate(0deg);
    }to{
        transform: rotate(360deg);
    }
}
