$clr-primary-text: #61dafb;
$clr-secondary-text: #ffffff;
$clr-title: #48412d;
$bg-line: linear-gradient(90deg,transparent 0,#d8d8d8 5%,#61dafb 95%,transparent);

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
