.Header-container {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
    width: calc(100% - 40px);
    max-width: 1200px;
    min-height: 4rem;
    flex-wrap: wrap;
}

.Header-logo__container {
    display: flex;
}

.Headear-title {
    text-transform: uppercase;
    max-width: 11rem;
    font-size: 1.5rem;
    line-height: 1.2;
    text-align: left;
    font-style: oblique;
    color: #61dafb;
}

.Header-logo {
    text-decoration: none;
}

.Header-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 80%;
}

.Header-links {
    display: flex;
    list-style: none;
    font-size: 1.5rem;
    flex-wrap: wrap;
    margin: 0;
}
.Header-link-item {
    margin: 0.5rem 0;
}
.Header-link a {
    margin: 0 20px;
    display: list-item;
    cursor: pointer;
    background-color: #61dafb;
    border-radius: 0.6rem;
    padding: 0.2rem 0.6rem 0.5rem;
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
}
.Header-link a:last-child {
    margin-right: 0;
}

.Header-link a:hover {
    transition: 0.2s;
    background-color: bisque;
    color:#61dafb;
}
.Header-link a:hover {
    color: #800038;
}
.Header-link a:active {
    transform: scale(0.9);
}
